@model LogisticsApp.Models.Puerto

<div class="row">
    <div class="col-md-6">
        <h4>Crear Puerto</h4>
        <hr />
        <form asp-action="Create" asp-controller="Puertos" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ubicacion" class="control-label"></label>
                        <input asp-for="Ubicacion" class="form-control" />
                        <span asp-validation-for="Ubicacion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>